<!DOCTYPE html>
<html ng-app="logsApp">
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Логи</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//code.angularjs.org/1.4.3/angular-sanitize.min.js"></script>
    <script src="//code.angularjs.org/1.4.3/i18n/angular-locale_ru.js"></script>
    <script src="js/angular-init.js"></script>
</head>
<body ng-controller="logsCtrl" class="main-background">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" ng-repeat="log in logs">
            <h1 class="text-center">{{log.name}}</h1>

            <div class="form-group">
                <input ng-model="query" class="form-control" placeholder="Искать:">
            </div>
            <div class="log-container">
                <table class="table table-condensed">
                    <tr ng-repeat="row in log.data | filter:query">
                        <td class="text-center">{{row.logdate | date:'HH:mm:ss dd.MM'}}</td>
                        <td>{{row.level}}</td>
                        <td ng-bind-html="row.message | pathCut"></td>
                        <td>{{row.count}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>