<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="log-statistic.html">
<link rel="import" href="log-flow.html">

<dom-module id="log-app">
    <template>
        <style>
            :host { }
        </style>
        <iron-ajax url="/cron.php" id="cronRequest" method="post" on-response="cronComplete"></iron-ajax>
        <iron-ajax auto url="/logs.php" handle-as="json" on-response="handleResponse" id="logsRequest"></iron-ajax>
        <div class="container-fluid">
            <div class="row">
                <template is="dom-repeat" items="{{logs}}">
                    <div class="col-sm-6">
                        <h1 class="text-center">{{item.name}}</h1>
                        <log-statistic source="{{item.chartSrc}}"></log-statistic>
                        <log-flow source="{{item.flowSrc}}"></log-flow>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'log-app',
            properties: {
                logs: Array
            },
            ready: function () {
                return setInterval((function (_this) {
                    return function () {
                        return _this.$.cronRequest.generateRequest();
                    };
                })(this), 60000);
            },
            handleResponse: function () {
                var i, len, name, names, results;
                names = this.$.logsRequest.lastResponse;
                this.logs = [];
                results = [];
                for (i = 0, len = names.length; i < len; i++) {
                    name = names[i];
                    results.push(this.push('logs', {
                        name: name,
                        chartSrc: '/statistic.php?source=' + name,
                        flowSrc: '/data.php?source=' + name
                    }));
                }
                return results;
            },
            cronComplete: function () {
                var element, i, j, len, len1, ref, ref1, results;
                ref = this.querySelectorAll('log-statistic');
                for (i = 0, len = ref.length; i < len; i++) {
                    element = ref[i];
                    element.update();
                }
                ref1 = this.querySelectorAll('log-flow');
                results = [];
                for (j = 0, len1 = ref1.length; j < len1; j++) {
                    element = ref1[j];
                    results.push(element.update());
                }
                return results;
            },
            smartDate: function (timestamp) {
                var diff, today, yesterday;
                diff = Date.now() - timestamp;
                diff /= 1000;
                if (diff < 60) {
                    return Math.floor(diff) + ' s. ago';
                }
                if (diff < 60 * 60) {
                    return Math.floor(diff / 60) + ' min. ago';
                }
                today = moment().startOf('day');
                yesterday = moment().startOf('day').subtract(1, 'days');
                timestamp = moment(timestamp);
                if (timestamp.isSame(today, 'day')) {
                    if (diff < 60 * 60 * 1.5) {
                        return '1 h. ago';
                    }
                    if (diff < 60 * 60 * 2) {
                        return '1.5 h. ago';
                    }
                    if (diff < 60 * 60 * 2.5) {
                        return '2 h. ago';
                    }
                    if (diff < 60 * 60 * 3) {
                        return '2.5 h. ago';
                    }
                    if (diff < 60 * 60 * 3.5) {
                        return '3 h. ago';
                    }
                    return 'today at ' + timestamp.format('HH:mm');
                }
                if (timestamp.isSame(yesterday, 'day')) {
                    return 'yesterday at ' + timestamp.format('HH:mm');
                }
                return timestamp.format('D MMM, HH:mm');
            }
        });
    </script>
</dom-module>