<link rel="import" href="moment.html">
<link rel="import" href="/bower_components/google-chart/google-chart.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="log-statistic">
    <template>
        <style>
            :host { display: block; position: relative; }

            google-chart {width: 100%}

            .update-mark { position: absolute; right: 15px; top: 25px; font-size: 80%; }
        </style>
        <iron-ajax auto handle-as="json" on-response="handleResponse"></iron-ajax>
        <span class="update-mark">{{uMark}}</span>
        <google-chart id="chart" type="stepped-area"
                      options='{
                            "areaOpacity": 0.5,
                            "backgroundColor": "transparent",
                            "colors": ["#d50000", "#ffd600", "#00bfa5"],
                            "legend": {"position": "top", "textStyle": {"color": "#fff"}},
                            "chartArea": {"width": "100%"},
                            "hAxis": {"textStyle": {"color": "#fff"}},
                            "vAxis": {"format": "#", "textPosition": "in", "textStyle": {"color": "#fff"}},
                            "isStacked": "true",
                            "connectSteps": "false"
                          }'></google-chart>
    </template>
    <script>
        Polymer({
            is: 'log-statistic',
            properties: {
                source: {
                    type: String,
                    observer: 'sourceChanged'
                },
                lastUpdate: Number,
                uMark: {
                    type: String,
                    computed: 'computeUMark(lastUpdate)'
                }
            },
            ready: function () {
                return setInterval((function (_this) {
                    return function () {
                        if (_this.lastUpdate != null) {
                            return _this.lastUpdate++;
                        }
                    };
                })(this), 50000);
            },
            sourceChanged: function (value) {
                if (value != null) {
                    return this.$$('iron-ajax').url = value;
                }
            },
            handleResponse: function () {
                var data, i, j, len, row;
                data = this.$$('iron-ajax').lastResponse;
                for (i = j = 0, len = data.length; j < len; i = ++j) {
                    row = data[i];
                    if (i > 0) {
                        row[0] = new Date(row[0] * 1000);
                    }
                }
                this.$$('google-chart').data = data;
                return this.lastUpdate = Date.now();
            },
            update: function () {
                return this.$$('iron-ajax').generateRequest();
            },
            computeUMark: function (lastUpdate) {
                if ((Date.now() - lastUpdate) > 60 * 4 * 1000) {
                    return MyView1.smartDate(lastUpdate);
                } else {
                    return '';
                }
            }
        });
    </script>
</dom-module>