<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="/bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/d-style/d-style.html">

<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="logs-analyzer">
    <template>
        <style include="d-style">
            :host {
                --app-primary-color: #4285f4;
                --app-secondary-color: black;
                display: block;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }
        </style>

        <app-location
                route="{{route}}"
                url-space-regex="^[[rootPath]]">
        </app-location>

        <app-route
                route="{{route}}"
                pattern="[[rootPath]]:page"
                data="{{routeData}}"
                tail="{{subroute}}">
        </app-route>

        <!-- Main content -->
        <app-header-layout has-scrolling-region>

            <app-header condenses reveals effects="waterfall">
                <app-toolbar>
                    <div main-title>Log Analyzer</div>
                </app-toolbar>
            </app-header>

            <iron-pages
                    selected="[[page]]"
                    attr-for-selected="name"
                    fallback-selection="view404"
                    role="main">
                <my-view1 name="view1"></my-view1>
                <my-view404 name="view404"></my-view404>
            </iron-pages>
        </app-header-layout>

    </template>

    <script>
        class LAApp extends Polymer.Element {
            static get is() {
                return 'logs-analyzer';
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    routeData: Object,
                    subroute: String,
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            _routePageChanged(page) {
                // If no page was found in the route data, page will be an empty string.
                // Default to 'view1' in that case.
                this.page = page || 'view1';
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
                var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }

            _showPage404() {
                this.page = 'view404';
            }
        }

        window.customElements.define(LAApp.is, LAApp);
    </script>
</dom-module>
