<link rel="import" href="../../dist/components/moment.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="log-statistic">
    <template>
        <style>
            :host { display: block; position: relative; }

            .update-mark { position: absolute; right: 15px; top: 25px; font-size: 80%; }
        </style>
        <iron-ajax auto handle-as="json" on-response="handleResponse"></iron-ajax>
        <span class="update-mark">{{uMark}}</span>
        <google-chart id="chart" type="stepped-area"
                      options='{
                            "areaOpacity": 0.5,
                            "backgroundColor": "transparent",
                            "colors": ["#d50000", "#ffd600", "#00bfa5"],
                            "legend": {"position": "top", "textStyle": {"color": "#fff"}},
                            "chartArea": {"width": "100%"},
                            "hAxis": {"textStyle": {"color": "#fff"}},
                            "vAxis": {"format": "#", "textPosition": "in", "textStyle": {"color": "#fff"}},
                            "isStacked": "true",
                            "connectSteps": "false"
                          }'></google-chart>
    </template>
    <script src="../../dist/js-modules/log-statistic.module.js"></script>
</dom-module>