<link rel="import" href="../../dist/components/moment.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../dist/components/log-flow-message.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module id="log-flow">
    <template>
        <style>
            :host { display: block; }

            .wrapper { height: 200px; overflow: auto; }

            .table td { border: none }
        </style>
        <iron-ajax auto handle-as="json" on-response="handleResponse"></iron-ajax>
        <paper-input label="Search" value="{{searchString::input}}"></paper-input>
        <div class="wrapper">
            <table class="table table-condensed">
                <tbody>
                <template is="dom-repeat" items="{{data}}" filter="{{computeFilter(searchString)}}">
                    <tr>
                        <td class="text-center">{{item.logdate}}</td>
                        <td>{{item.level}}</td>
                        <td>
                            <log-flow-message message="{{item.message}}"></log-flow-message>
                        </td>
                        <td>{{item.count}}</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>
    <script src="../../dist/js-modules/log-flow.module.js"></script>
</dom-module>