<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="/dist/components/log-statistic.html">
<link rel="import" href="/dist/components/log-flow.html">

<dom-module id="log-app">
    <template>
        <style>
            :host { }
        </style>
        <iron-ajax url="/cron.php" id="cronRequest" method="post" on-response="cronComplete"></iron-ajax>
        <iron-ajax auto url="/logs.php" handle-as="json" on-response="handleResponse" id="logsRequest"></iron-ajax>
        <div class="container-fluid">
            <div class="row">
                <template is="dom-repeat" items="{{logs}}">
                    <div class="col-sm-6">
                        <h1 class="text-center">{{item.name}}</h1>
                        <log-statistic source="{{item.chartSrc}}"></log-statistic>
                        <log-flow source="{{item.flowSrc}}"></log-flow>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <script src="../../dist/js-modules/log-app.module.js"></script>
</dom-module>